.upperNav {
    background-color: #333333;
    color: #D6D6D6;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    text-align: center;
    padding: 12px;
    font-size: small;
    margin: 0px;
}

li {
    display: inline;
    margin: 40px;
    vertical-align: middle;
}

.upperContacts {
    background-color: #F5F5F7;
    color: #1D1D1F;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: small;
    padding-top: 3px;
    padding-bottom: 3px;
}

.upperContacts a {
    text-decoration: none;
}

.upperContacts a:hover {
    text-decoration: underline;
}

.upperContacts p {
    margin-bottom: 2px;
    margin-top: 2px;
}

.productFrame {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    text-align: center;
    padding-top: 50px;
}

.productFrame .frameHeader {
    font-size: 50px;
}

.productFrame .frameSlogan {
    font-size: 25px;
    font-weight: lighter;
}

.productFrame .frameLinks h3 {
    font-weight: lighter;
}

.productFrame.One {
    background-color: #FBFBFD;
}

.productFrame.Two {
    background-color: #000000;
    color: #F5F5F7;
}